:root {
    --color-grey: #c7c5c4;
    --color-concrete: #828180;
    --color-font-second: var(--color-concrete);
    --color-font-third: var(--color-grey);
    --color-element-font-second: var(--color-font-second);
    --color-element-font-third: var(--color-font-third);
  
    --tiny-pixel: 1px;
    --tiny-pixel: 1px;
    --md-ref-typeface-plain: "Geologica";
    --md-sys-shape-corner-full: 16px;
  
    --dev-header-height: 3.25rem;
  
    --dev-svg-height: 1rem;
    --dev-svg-width: 1rem;
  
    --dev-svg-s-height: 1.125rem;
    --dev-svg-s-width: 1.125rem;
  
    --dev-svg-m-height: 1.5rem;
    --dev-svg-m-width: 1.5rem;
  
    --dev-svg-l-height: 1.75rem;
    --dev-svg-l-width: 1.75rem;
  
    --dev-tab-padding: 0.6875rem;
  
    --dev-gap-m: 0.75rem;
  
    --dev-over-size: 100%;
    --dev-half-size: 50%;
    --dev-l-size: 20rem;
    --dev-m-size: 10rem;
    --dev-s-size: 2.625rem;
    --dev-z-base: 0;
    --dev-z-2: 2;
    --dev-z-4: 4;
    --dev-z-6: 6;
    --dev-z-overlay: 8;
    --dev-delay: 0.4s;
    --dev-opacity: 0.3;
    --dev-m-radius: 0.75rem;
    --dev-l-radius: 1rem;
    --dev-s-radius: 0.625rem;
    --dev-sheet-radius: 1.75rem 1.75rem 0 0;
    --dev-over-radius: 100rem;
    --dev-s-padding: 0.25rem 0.5rem;
    --dev-m-padding: 0.5rem 1rem;
    --dev-l-padding: 1.5rem 2rem;
  
    --dev-s-single-padding: 0.25rem;
    --dev-m-single-padding: 0.5rem;
    --dev-xm-single-padding: 1rem;
    --dev-l-single-padding: 1.5rem;
    --dev-xl-single-padding: 2rem;
  
    --dynamic-sheet-height: 0%;
    --dynamic-sheet-width: 100%;
  
    --dev-h1-font: "Geologica";
    --dev-h1-size: 1.625rem;
    --dev-h1-line-height: 2rem;
    --dev-h1-weight: 600;
    --dev-h2-font: "Geologica";
    --dev-h2-size: 1.25rem;
    --dev-h2-line-height: 1.5rem;
    --dev-h2-weight: 600;
    --dev-h3-font: "Geologica";
    --dev-h3-size: 1rem;
    --dev-h3-line-height: 1.25rem;
    --dev-h3-weight: 600;
    --dev-h4-font: "Geologica";
    --dev-h4-size: 0.85rem;
    --dev-h4-line-height: 1.25rem;
    --dev-h4-weight: 500;
    --dev-h5-font: "Geologica";
    --dev-h5-size: 0.625rem;
    --dev-h5-line-height: 1rem;
    --dev-h5-weight: 600;
    --dev-text-1-font: "Geologica";
    --dev-text-1-size: 1rem;
    --dev-text-1-line-height: 1.25rem;
    --dev-text-1-weight: 300;
    --dev-text-2-font: "Geologica";
    --dev-text-2-size: 0.75rem;
    --dev-text-2-line-height: 1rem;
    --dev-text-2-weight: 300;
    --dev-text-3-font: "Geologica";
    --dev-text-3-size: 0.75rem;
    --dev-text-3-line-height: 0.75rem;
    --dev-text-3-weight: 400;
    --dev-loader-size: 3rem;
    --dev-loader-width: 6px;
    --dev-loader-angle: 360deg;
  }
  
  html {
    font-family: Geologica;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-x pan-y;
    min-height: 100%; /* prevent pinch-zoom at page bottom */
    scroll-snap-type: none;
    overscroll-behavior: none;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-snap-type: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  body {
    overscroll-behavior-y: none;
    scroll-snap-type: none;
    margin: 0;
    overscroll-behavior: contain;
    overflow-y: scroll;
    background-color: #001524;
  }
  
  .dev-loader {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  
  .load .dev-fragment {
    display: none;
  }
  
  .load .dev-loader {
    display: flex;
  }

@keyframes rotateByY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#preloader {
    height: 80px;
    width: 65px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateByY 2s infinite;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header {
    color: #ff7d00;
    text-align: center;
}

.search {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search__input {
    border-radius: 25px;
    font-size: 26px;
    padding: 8px;
}

.search__button {
    text-align: center;
    border-radius: 50%;
    color: white;
    border-style: none;
    background-color: #011321;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-style: double;
    border-radius: 30px;
    border-color: darkgoldenrod;
    padding: 10px;
}

.card:hover {
    border-color: white;
    box-shadow: inset 0px 0px 20px 8px darkgoldenrod,
        0px 0px 20px 4px darkgoldenrod;
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.type {
    margin: 10px;
    font-style: oblique;
    text-align: center;
    padding-top: 3px;
    border: none;
    border-radius: 10px;
}

.grass {
    color: black;
    background-color: #68b060;
}

.poison {
    color: white;
    background-color: #c47ede;
}

.fire {
    color: white;
    background-color: #d92424;
}

.flying {
    color: black;
    background-color: #28cbda;
}

.water {
    color: white;
    background-color: #258abd;
}

.bug {
    color: white;
    background-color: #2c702c;
}

.normal {
    color: black;
    background-color: #858f85;
}

.electric {
    color: black;
    background-color: #f0e633;
}

.ground {
    color: white;
    background-color: #87660b;
}

.fairy {
    color: white;
    background-color: #c6129c;
}

.fighting {
    color: white;
    background-color: #370a0d;
}

.psychic {
    color: white;
    background-color: #260a37;
}

.rock {
    color: white;
    background-color: #343235;
}

.steel {
    color: white;
    background-color: #66617d;
}

.ice {
    color: black;
    background-color: white;
}

.ghost {
    color: black;
    background-color: rgb(198, 177, 177);
}

.dragon {
    color: black;
    background-color: rgb(229, 137, 8);
}

.dark {
    color: white;
    background-color: black;
}

.form-big-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px;
    border-style: double;
    border-radius: 10px;
    border-color: darkgoldenrod;
    background-color: #001524;
    padding: 10px;
    position: fixed;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.specifications {
    display: flex;
    top: 0;
    justify-content: center;
    margin: 7px;
    background-color: darkgoldenrod;
    border-radius: 5px;
}

.specifications-section {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin: 10px;
}

.specifications-section__span {
    margin-top: 7px;
}

.stats {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin: 7px;
    background-color: #97aabd;
    border-radius: 5px;
}

.stats-section {
    margin: 5px;
}

.stats-section__span {
    float: right;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border-style: none;
    font-weight: bolder;
    text-align: center;
}

.error {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: #011321;
}

.card__span {
    color: #e7ddc2;
    white-space: pre;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.button {
    background: none;
    color: white;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    z-index: -1;
}

.form-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    width: 100;
    background-color: #011321;
}

.pagination button {
    color: white;
    margin: 5px;
    cursor: pointer;
    border-style: none;
    text-align: center;
    font-weight: bolder;
}

@media (min-width: 0px) {
    .pagination button {
        height: 90px;
        width: 90px;
        font-size: 32px;
    }

    .pagination {
        height: 100px;
    }

    .card {
        margin: 25px;
        width: 400px;
        height: 400px;
    }

    .type {
        font-size: 30px;
        height: 40px;
        width: 120px;
    }

    .big-card {
        width: 900px;
        height: 560px;
        top: 90px;
    }

    .specifications {
        height: 120px;
        width: 420px;
    }

    .specifications-section__header {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .specifications-section__span {
        font-size: 20px;
    }

    .stats {
        height: 260px;
        width: 420px;
    }

    .stats-section__header {
        font-size: 24px;
    }

    .stats-section__span {
        font-size: 20px;
    }

    .section__img {
        width: 400px;
        height: 400px;
    }

    .header {
        font-size: 64px;
    }

    .close-button {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }

    .buttonSwitch {
        height: 90px;
        width: 90px;
        border-radius: 40px;
        top: 20px;
        right: 20px;
    }

    .input {
        height: 40px;
        border-radius: 15px;
        font-size: 18px;
    }

    ul li {
        font-size: 26px;
    }

    .card__img {
        width: 290px;
        height: 290px;
    }

    .card__span {
        font-size: 42px;
    }

    .search__input {
        width: 250px;
        height: 40px;
    }

    .search__button {
        width: 80px;
        height: 80px;
    }

    .bx-search {
        transform: scale(3);
    }

    .error {
        font-size: 26px;
    }
}
@media (min-width: 1124px) {
    .pagination button {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    .pagination {
        height: 60px;
    }

    .card {
        margin: 80px;
        width: 350px;
        height: 350px;
    }

    .big-card {
        width: 660px;
        height: 380px;
        top: 10px;
    }

    .specifications {
        height: 90px;
        width: 320px;
    }

    .specifications-section__header {
        position: relative;
        top: 0px;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .specifications-section__span {
        font-size: 16px;
    }

    .stats {
        height: 180px;
        width: 320px;
    }

    .stats-section__header {
        font-size: 16px;
    }

    .stats-section__span {
        font-size: 16px;
    }

    .section__img {
        width: 300px;
        height: 300px;
    }

    .header {
        font-size: 45px;
    }

    .close-button {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }

    .input {
        height: 30px;
        border-radius: 10px;
        font-size: 14px;
    }

    ul li {
        font-size: 16px;
    }

    .error {
        color: white;
        font-size: 26px;
    }

    .type {
        font-size: 18px;
        height: 30px;
        width: 80px;
    }

    .card__img {
        width: 230px;
        height: 230px;
    }

    .card__span {
        font-size: 30px;
    }

    .search__input {
        width: 380px;
        height: 25px;
    }

    .search__button {
        width: 60px;
        height: 60px;
    }

    .bx-search {
        transform: scale(2.3);
    }

    .error {
        font-size: 26px;
    }
}
